@model Upload_img_db.Models.ImageModel

@{
    ViewData["Title"] = "Exists";
}

<h1>File already exists!!</h1>
<div>

    <form asp-action="Error">
        <a asp-action="Create">Upload again!</a>
    </form>
</div>
